*::selection{
    color: black;
    background-color: yellow;
}
body{
    height: 100vh;
    margin: 0;
    /* background-image: url(index.jpeg); */
    background-size: cover;
    background: linear-gradient(98deg, white 49%, yellow 49%);   
    background-repeat: no-repeat;
    overflow: hidden;

}

/* #container-login-div{
    height: 100%;
    margin: 0;
    padding: 60px;
    background: linear-gradient(98deg, white 55%, yellow 55%);   
    background-repeat: no-repeat; */
    /* background-image: url('index.jpeg') ; */
    /* opacity: 0.92;
} */

.login-div{
    margin: auto;
    width: 68%;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    /* height: ; */
    box-shadow: rgb(34, 28, 28) 5px 5px 20px;
    background: linear-gradient(98deg, white 50.9%, yellow 50.9%);   
    border-radius: 10px;
    /* display: flex; */
}

#left-login-div{
    height: 100%;
    /* width: 60%; */
    text-align: center;
    /* background-color: black; */
    font-size: 3em;
    display: flex;
}
#left-login-div img{
    /* margin-top: 4em; */
    margin: auto;
}
#right-login-div{
    height: 100%;
    /* width: 40%; */
    /* background-color: blue; */
    text-align: center;
    transition: all .5s ease-in;
    /* transition: all 0.3s ease 0s;    */
}
#txt{
    
    font-size: 2em;
    /* background-color: orange; */
}



.submit-block p a{
    text-decoration: none;
    font-weight: bold;
    color: #0f3cce;
}

.submit-block p a:hover{
    /* font-weight: bold; */
    color: #051857;
}

input[type = 'email'], input[type = 'password'],input[type = 'text']{
   /* max-width: 80%; */
   height: 3em;

    /*height: ;
    margin-top: 20px; */
}
#sign-up-txt{
    padding: 10px;
}

input[type = 'submit']{
    font-size: 1.2em;
    width: 40%;
    padding: 5px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: solid white 0.5px;
    width: 140px;

    height: 45px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 11px; */
    /* text-transform: uppercase; */
    /* letter-spacing: 2.5px; */
    font-weight: 500;
    /* color: #000; */
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow:  rgb(34, 28, 28) 2px 2px 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

input[type = 'submit']:hover {
    background-color: yellow;
    box-shadow: rgb(34, 28, 28) 2px 2px 20px;
    color: #fff;
    transform: translateY(-7px);
    font-weight: bold;
}
.errors-displayer{
    color: red;
    font-size: 12px;
    display: block;
    font-weight: bold;
    /* margin: 0; */
    /* padding: 0; */
}